<div style="padding-left: 10em; padding-top: 2em;">
    <h1>Listado de hoteles: </h1>

    @if (hotels && hotels.length > 0) {
        <table style="width: 100%; border-collapse: collapse; border: 1em;">
            <thead>
                <tr>
                    <th style="padding: 8px; text-align: left;">Nombre</th>
                    <th style="padding: 8px; text-align: left;">Dirección</th>
                </tr>
            </thead>
            <tbody>
                @for (hotel of hotels; track $index) {
                    <tr>
                        <td style="padding: 8px;">{{ hotel.name }}</td>
                        <td style="padding: 8px;">{{ hotel.address }}</td>
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <p>No clients found</p>
    }
</div>